{% extends 'shop/layout.html' %}
{% load static %}
{% block content %}

<div class="main">
	<div class="container-logout">
	<h1>You have been logged out of your account</h1>
	<h4>logged out by mistake<a class="link" href="{% url 'login' %}"> Sign in </a></h4>
	<br>
	<a class="btn btn-info" href="{% url 'home' %}">Home</a>
	</div>

<style>
.container-logout {
  width: 900px;
  background: #fff;
  margin: 200px auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  text-align: center; }
</style>


</div>

{% endblock content %}